services:
  redis:
    container_name: "redis"
    image: redis:alpine
    ports:
      - "6379:6379"

  redis-ui:
    container_name: "redis-ui"
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
