spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

externalApi:
  tvMaze:
    url: https://api.tvmaze.com

  lastFm:
    url : https://ws.audioscrobbler.com/2.0

redis:
  host: localhost
  port: 6379
  ttl: 72000